<launch>

	<node 
		pkg="project2_solution"
		type="solution.py"
		name="project2_solution_node"
		output="screen"
	/>

	<node
		pkg="rviz"
		type="rviz"
		name="rviz"
		output="screen"
		args="-d $(find project2_solution)/launch/config.rviz"
	/>

	<node 
		pkg="marker_publisher"
		type="marker_publisher_node"
		name="marker_publisher_node"
		output="screen"
	/>

</launch>