<launch>

  <param name="robot_description"
	 command="$(find xacro)/xacro --inorder '$(find lwr_defs)/robots/kuka_lwr_arm.urdf.xml'" />

  <node
  	pkg="robot_state_publisher"
  	type="robot_state_publisher"
  	name="robot_state_publisher"
  	output="screen" />

  <node
  	pkg="rviz"
  	type="rviz"
  	name="rviz"
    args="-d $(find robot_sim)/config/rviz.rviz" />

</launch>
